<a href="https://colab.research.google.com/github/AlejandroFelipeA/coursera_capstone/blob/master/Download_Demanda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
import numpy as np
import ast
import time
from datetime import datetime
from datetime import date
from datetime import timedelta
import locale
locale.setlocale(locale.LC_ALL, '')

'en_US.UTF-8'

# Download Demanda

In [ ]:
!pip install selenium
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin
import sys
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Collecting selenium
  Downloading selenium-4.1.0-py3-none-any.whl (958 kB)
     |████████████████████████████████| 958 kB 5.1 MB/s
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting urllib3[secure]~=1.26
  Downloading urllib3-1.26.7-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 65.8 MB/s
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
     |████████████████████████████████| 356 kB 56.5 MB/s
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (21.2.0)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from urllib3[secure]~=1.26->selenium) (2021.10.8)
Collecting pyOpenSSL>=0.14
  Downloading pyOpenSSL-21.0.0-py2.py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.9 MB/s
Collecting cryptography>=1.3.4
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 56.0 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (2.21)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.7/dist-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.12.0-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 2.7 MB/s
Installing collected packages: sniffio, outcome, h11, cryptography, async-generator, wsproto, urllib3, trio, pyOpenSSL, trio-websocket, selenium
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.7 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed async-generator-1.10 cryptography-36.0.1 h11-0.12.0 outcome-1.1.0 pyOpenSSL-21.0.0 selenium-4.1.0 sniffio-1.2.0 trio-0.19.0 trio-websocket-0.9.2 urllib3-1.26.7 wsproto-1.0.0
Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:11 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,459 kB]
Hit:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Get:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [26.8 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,489 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [716 kB]
Get:17 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,822 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [34.5 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,238 kB]
Get:23 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [934 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,927 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [749 kB]
Get:26 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Get:27 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [44.7 kB]
Fetched 13.7 MB in 4s (3,238 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  chromium-browser chromium-browser-l10n chromium-codecs-ffmpeg-extra
Suggested packages:
  webaccounts-chromium-extension unity-chromium-extension
The following NEW packages will be installed:
  chromium-browser chromium-browser-l10n chromium-chromedriver
  chromium-codecs-ffmpeg-extra
0 upgraded, 4 newly installed, 0 to remove and 59 not upgraded.
Need to get 94.0 MB of archives.
After this operation, 324 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-codecs-ffmpeg-extra amd64 95.0.4638.69-0ubuntu0.18.04.1 [1,135 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser amd64 95.0.4638.69-0ubuntu0.18.04.1 [83.6 MB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser-l10n all 95.0.4638.69-0ubuntu0.18.04.1 [4,249 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-chromedriver amd64 95.0.4638.69-0ubuntu0.18.04.1 [4,986 kB]
Fetched 94.0 MB in 4s (23.4 MB/s)
Selecting previously unselected package chromium-codecs-ffmpeg-extra.
(Reading database ... 155225 files and directories currently installed.)
Preparing to unpack .../chromium-codecs-ffmpeg-extra_95.0.4638.69-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-codecs-ffmpeg-extra (95.0.4638.69-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser.
Preparing to unpack .../chromium-browser_95.0.4638.69-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-browser (95.0.4638.69-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser-l10n.
Preparing to unpack .../chromium-browser-l10n_95.0.4638.69-0ubuntu0.18.04.1_all.deb ...
Unpacking chromium-browser-l10n (95.0.4638.69-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_95.0.4638.69-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-chromedriver (95.0.4638.69-0ubuntu0.18.04.1) ...
Setting up chromium-codecs-ffmpeg-extra (95.0.4638.69-0ubuntu0.18.04.1) ...
Setting up chromium-browser (95.0.4638.69-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (95.0.4638.69-0ubuntu0.18.04.1) ...
Setting up chromium-browser-l10n (95.0.4638.69-0ubuntu0.18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

cp: '/usr/lib/chromium-browser/chromedriver' and '/usr/bin/chromedriver' are the same file

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: use options instead of chrome_options
  if sys.path[0] == '':

In [ ]:
driver.get("https://www.coordinador.cl/operacion/graficos/operacion-real/demanda-real/")

In [ ]:
time.sleep(10)

In [ ]:
date.today() - timedelta(days = 2)

datetime.date(2022, 1, 4)

In [ ]:
fecha_datetime = date.today() - timedelta(days = 2)
fecha = fecha_datetime.strftime('%d-%m-%Y')
fecha

'04-01-2022'

In [ ]:
#aux fecha 
#fecha = '31-12-2021'

In [ ]:
inicio = driver.find_element_by_xpath('//*[@id="datepicker6-9765"]')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  """Entry point for launching an IPython kernel.

In [ ]:
inicio.send_keys(fecha)

In [ ]:
termino = driver.find_element_by_xpath('//*[@id="datepicker18-9765"]')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  """Entry point for launching an IPython kernel.

In [ ]:
termino.send_keys(fecha)

In [ ]:
## agregar click descarga
boton_descarga = driver.find_element_by_xpath('//*[@id="Collapse2"]/div/article/div[2]/div/div/form/div[1]/div[3]/a')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

In [ ]:
boton_descarga.click()
time.sleep(10)

In [ ]:
time.sleep(10)

In [ ]:
#read demanda descargada y demanda historica
demanda_hist = pd.read_csv("/content/drive/MyDrive/Demanda/Demanda.csv")#, sep = ';')
demanda = pd.read_csv("/content/datos-de-demanda-sistemica-real.tsv", sep = '\t', decimal = ',')
demanda.sort_values(by=['hora'], inplace=True)
demanda['fecha'] = demanda['fecha'].astype('datetime64[ns]')
demanda['fecha'] = demanda['fecha'].dt.strftime("%d-%m-%Y")
demanda.rename(columns={'fecha': 'Fecha', 'hora': 'Hour', 'demanda': 'Demanda'}, inplace=True)
demanda.reset_index(drop = True, inplace = True)
#cambiar orden fecha demanda descargada a %d-%m-%Y
demanda.head()

        Fecha  Hour      Demanda
0  04-01-2022     1  9474.985091
1  04-01-2022     2  9049.708674
2  04-01-2022     3  8718.295720
3  04-01-2022     4  8548.255681
4  04-01-2022     5  8511.444545

In [ ]:
demanda_hist.tail()

            Fecha  Hour       Demanda
35131  03-01-2022    20  10250.181072
35132  03-01-2022    21  10193.697477
35133  03-01-2022    22  10498.382535
35134  03-01-2022    23  10307.695475
35135  03-01-2022    24   9963.126462

In [ ]:
frames_demanda = [demanda_hist, demanda]
result_demanda = pd.concat(frames_demanda, axis = 0)
result_demanda.reset_index(drop=True, inplace=True)
result_demanda.tail(50)

            Fecha  Hour       Demanda
35110  02-01-2022    23   9531.486302
35111  02-01-2022    24   9359.506519
35112  03-01-2022     1   8885.429316
35113  03-01-2022     2   8503.720247
35114  03-01-2022     3   8232.437790
35115  03-01-2022     4   8050.576917
35116  03-01-2022     5   8065.491427
35117  03-01-2022     6   8078.707634
35118  03-01-2022     7   8273.677650
35119  03-01-2022     8   8530.460118
35120  03-01-2022     9   9211.712562
35121  03-01-2022    10   9722.575062
35122  03-01-2022    11  10001.157839
35123  03-01-2022    12  10262.962114
35124  03-01-2022    13  10424.091284
35125  03-01-2022    14  10619.268620
35126  03-01-2022    15  10765.884448
35127  03-01-2022    16  10849.073029
35128  03-01-2022    17  10874.157946
35129  03-01-2022    18  10668.098017
35130  03-01-2022    19  10350.547270
35131  03-01-2022    20  10250.181072
35132  03-01-2022    21  10193.697477
35133  03-01-2022    22  10498.382535
35134  03-01-2022    23  10307.695475
35135  03-01-2022    24   9963.126462
35136  04-01-2022     1   9474.985091
35137  04-01-2022     2   9049.708674
35138  04-01-2022     3   8718.295720
35139  04-01-2022     4   8548.255681
35140  04-01-2022     5   8511.444545
35141  04-01-2022     6   8487.459401
35142  04-01-2022     7   8597.937889
35143  04-01-2022     8   8833.027204
35144  04-01-2022     9   9412.352849
35145  04-01-2022    10   9857.726223
35146  04-01-2022    11  10136.576038
35147  04-01-2022    12  10338.586308
35148  04-01-2022    13  10381.695354
35149  04-01-2022    14  10453.946280
35150  04-01-2022    15  10716.861744
35151  04-01-2022    16  10667.753907
35152  04-01-2022    17  10623.671031
35153  04-01-2022    18  10473.619294
35154  04-01-2022    19  10136.639164
35155  04-01-2022    20   9994.109266
35156  04-01-2022    21  10045.014269
35157  04-01-2022    22  10261.287296
35158  04-01-2022    23  10225.408076
35159  04-01-2022    24   9796.292452

In [ ]:
result_demanda_export = result_demanda.to_csv("/content/drive/MyDrive/Demanda/Demanda.csv",index=False)

# Webscrape Variables

In [ ]:
import os
import pandas as pd
from functools import reduce
import numpy as np
import time
from datetime import datetime
from datetime import date
from datetime import timedelta
#import datetime as dt
import locale
locale.setlocale(locale.LC_ALL, '')

## Inventarios y precio cobre

In [ ]:
import re
import requests
r=requests.get('https://boletin.cochilco.cl/')
print(len(r.text))

6110

In [ ]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(r.text)
print(soup.title.string)

Cochilco - Comisión Chilena del Cobre

In [ ]:
rows= soup.find_all('script')
print(len(rows))

19

In [ ]:
row_cobre = rows[15]
row_inv = rows[16]

In [ ]:
row_cobre_str = rows[15].string
row_cobre_str

"\r\n\t\t\t\t\tvar variableServidor = '433,86' ;\r\n\t\t\t\t\tdocument.write(formato_numero(variableServidor,'2',',','.'));\r\n\t\t\t\t "

In [ ]:
re.findall(r"[-+]?\d*\.\d+|\d+", rows[15].string)

['433', '86', '2']

In [ ]:
row_cobre_str = rows[16].string
row_cobre_str

"\r\n\t\t\t\t\tvar variableServidor = '85950' ;\r\n\t\t\t\t\tdocument.write(formato_numero(variableServidor,'2',',','.'));\r\n\t\t\t\t"

In [ ]:
cobre_ints = re.findall(r"[-+]?\d*\.\d+|\d+", rows[15].string)
precio_cobre = float(cobre_ints[0]+'.'+ cobre_ints[1])
precio_cobre

433.86

In [ ]:
stock_ints = re.findall(r"[-+]?\d*\.\d+|\d+", rows[16].string)
inventarios = int(stock_ints[0]) 
inventarios

85950

In [ ]:
# read inventarios y precios cobre historicos
hist_stock = pd.read_csv("/content/drive/MyDrive/Demanda/Inventarios Cobre.csv")#, sep=';')
hist_precio_cobre = pd.read_csv("/content/drive/MyDrive/Demanda/Precio Cobre.csv")#, sep=';',decimal=',')

In [ ]:
hist_precio_cobre=hist_precio_cobre[:1459]

In [ ]:
hist_stock.tail()

           Fecha  Stock Cobre LME (Toneladas Metricas)
1460  01-01-2022                                 88950
1461  02-01-2022                                 88950
1462  03-01-2022                                 88950
1463  04-01-2022                                 88950
1464  05-01-2022                                 86950

In [ ]:
hist_precio_cobre.tail()

           Fecha   Precio Nominal Cobre Diario (¢/lb)
1454  26-12-2021                               434.63
1455  27-12-2021                               434.63
1456  28-12-2021                               434.63
1457  29-12-2021                               437.94
1458  30-12-2021                               440.67

## Dólar Observado

In [ ]:
r=requests.get('https://si3.bcentral.cl/bdemovil/BDE/IndicadoresDiarios')
print(len(r.text))

32965

In [ ]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(r.text)

In [ ]:
rows= soup.find_all('p')
print(len(rows))

24

In [ ]:
rows[4].string

'841,63'

In [ ]:
try:
  dolar_observado = float(rows[4].string)
  print(dolar_observado)

except:
  dolar_ints = re.findall(r"[-+]?\d*\.\d+|\d+", rows[4].string)
  dolar_observado = float(dolar_ints[0]+'.'+ dolar_ints[1])
  print(dolar_observado)

841.63

In [ ]:
try:
  dolar_ints = re.findall(r"[-+]?\d*\.\d+|\d+", rows[4].string)
  dolar_observado = float(dolar_ints[0]+'.'+ dolar_ints[1])
  print(dolar_observado)

except:
  dolar_observado = float(rows[4].string)
  print(dolar_observado)

841.63

In [ ]:
#read valor dolar hist.
hist_dolar = pd.read_csv("/content/drive/MyDrive/Demanda/Valor Dolar.csv")#, sep=';',decimal=',')
hist_dolar.tail()

           Fecha   Dólar
1460  01-01-2022  850.25
1461  02-01-2022  850.25
1462  03-01-2022  850.25
1463  04-01-2022  850.25
1464  05-01-2022  852.03

## Append valores hoy a historicos

In [ ]:
dia_hoy = date.today().weekday()

In [ ]:
# AUX dia_hoy
#dia_hoy = 5
#dia_hoy

In [ ]:
if dia_hoy < 5:
  valor_inventarios = inventarios
  valor_precio_cobre = precio_cobre
  valor_dolar = dolar_observado

else:
  valor_inventarios = int(hist_stock['Stock Cobre LME (Toneladas Metricas)'].tail(1))
  valor_precio_cobre = float(hist_precio_cobre[' Precio Nominal Cobre Diario (¢/lb)'].tail(1))
  valor_dolar = float(hist_dolar['Dólar'].tail(1))

In [ ]:
fecha = date.today().strftime("%d-%m-%Y")
fecha

'06-01-2022'

In [ ]:
data = {'Fecha': [fecha], 'Stock Cobre LME (Toneladas Metricas)': [valor_inventarios], ' Precio Nominal Cobre Diario (¢/lb)': [valor_precio_cobre], 'Dólar': [valor_dolar]}
# Create DataFrame.
valores_hoy = pd.DataFrame(data)
# Print the output.
valores_hoy

        Fecha  ...   Dólar
0  06-01-2022  ...  841.63

[1 rows x 4 columns]

In [ ]:
#concat inventarios
frames_inv = [hist_stock,valores_hoy[['Fecha', 'Stock Cobre LME (Toneladas Metricas)']]]
result_inv = pd.concat(frames_inv)
result_inv = result_inv.reset_index()
result_inv.drop(['index'], axis=1, inplace=True)
result_inv_update = result_inv.to_csv("/content/drive/MyDrive/Demanda/Inventarios Cobre.csv",index=False)

#concat precio cobre
frames_cobre = [hist_precio_cobre,valores_hoy[['Fecha', ' Precio Nominal Cobre Diario (¢/lb)']]]
result_cobre = pd.concat(frames_cobre)
result_cobre = result_cobre.reset_index()
result_cobre.drop(['index'], axis=1, inplace=True)
result_cobre_update = result_cobre.to_csv("/content/drive/MyDrive/Demanda/Precio Cobre.csv",index=False)

#concat dolar
frames_dolar = [hist_dolar,valores_hoy[['Fecha', 'Dólar']]]
result_dolar = pd.concat(frames_dolar)
result_dolar = result_dolar.reset_index()
result_dolar.drop(['index'], axis=1, inplace=True)
result_dolar_update = result_dolar.to_csv("/content/drive/MyDrive/Demanda/Valor Dolar.csv",index=False)

## Temperatura hist. Santiago

In [ ]:
# metric
unidades = 'metric'

# key
api_key = '9b3998ae9ad6b8d9b99ba8d2cbb9d873'

# datos Santiago
lat_santiago = '-33.4569' 
lon_santiago = '-70.6483'

In [ ]:
#start ante ayer
start = date.today()-timedelta(days=1)
start_strftime = start.strftime('%Y-%m-%d %H:%M:%S')
start

datetime.date(2022, 1, 5)

In [ ]:
#unixtime 
timezone_dif_chile = 10800
unix = int(time.mktime(start.timetuple())) 
string_unix = str(unix)

In [ ]:
# build url links
url_santiago = "https://api.openweathermap.org/data/2.5/onecall/timemachine?lat=" + lat_santiago + "&lon=" + lon_santiago + "&dt=" + string_unix + "&units=" + unidades + "&appid=" + api_key

In [ ]:
# Santiago Data hist. API call
import urllib.request, json 
with urllib.request.urlopen(url_santiago) as url:
    data = json.loads(url.read().decode())
    print(data)

# df santiago 
df = pd.json_normalize(data['hourly'])
df['weather'] = df['weather'].str.get(0)
objs = [df, pd.DataFrame(df['weather'].tolist()).iloc[:, :4]]
santiago  = pd.concat(objs, axis=1).drop('weather', axis=1)

{'lat': -33.4569, 'lon': -70.6483, 'timezone': 'America/Santiago', 'timezone_offset': -10800, 'current': {'dt': 1641340800, 'sunrise': 1641289120, 'sunset': 1641340565, 'temp': 25.99, 'feels_like': 25.99, 'pressure': 1012, 'humidity': 40, 'dew_point': 11.36, 'uvi': 0, 'clouds': 0, 'visibility': 10000, 'wind_speed': 4.12, 'wind_deg': 230, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}]}, 'hourly': [{'dt': 1641340800, 'temp': 25.99, 'feels_like': 25.99, 'pressure': 1012, 'humidity': 40, 'dew_point': 11.36, 'uvi': 0, 'clouds': 0, 'visibility': 10000, 'wind_speed': 4.12, 'wind_deg': 230, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}]}, {'dt': 1641344400, 'temp': 23.6, 'feels_like': 23.22, 'pressure': 1012, 'humidity': 46, 'dew_point': 11.32, 'uvi': 0, 'clouds': 0, 'visibility': 10000, 'wind_speed': 7.72, 'wind_deg': 200, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}]}, {'dt': 1641348000, 'temp': 23.28, 'feels_like': 22.89, 'pressure': 1013, 'humidity': 47, 'dew_point': 11.35, 'uvi': 0, 'clouds': 0, 'visibility': 10000, 'wind_speed': 4.63, 'wind_deg': 180, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}]}, {'dt': 1641351600, 'temp': 22.53, 'feels_like': 22.07, 'pressure': 1013, 'humidity': 47, 'dew_point': 10.67, 'uvi': 0, 'clouds': 0, 'visibility': 10000, 'wind_speed': 4.12, 'wind_deg': 150, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}]}, {'dt': 1641355200, 'temp': 21.69, 'feels_like': 21.19, 'pressure': 1013, 'humidity': 49, 'dew_point': 10.52, 'uvi': 0, 'clouds': 0, 'visibility': 10000, 'wind_speed': 4.63, 'wind_deg': 140, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}]}, {'dt': 1641358800, 'temp': 21.69, 'feels_like': 21.19, 'pressure': 1013, 'humidity': 49, 'dew_point': 10.52, 'uvi': 0, 'clouds': 0, 'visibility': 10000, 'wind_speed': 3.6, 'wind_deg': 140, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}]}, {'dt': 1641362400, 'temp': 20.96, 'feels_like': 20.47, 'pressure': 1013, 'humidity': 52, 'dew_point': 10.74, 'uvi': 0, 'clouds': 0, 'visibility': 10000, 'wind_speed': 3.6, 'wind_deg': 160, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}]}, {'dt': 1641366000, 'temp': 20.54, 'feels_like': 20.06, 'pressure': 1013, 'humidity': 54, 'dew_point': 10.92, 'uvi': 0, 'clouds': 0, 'visibility': 10000, 'wind_speed': 3.6, 'wind_deg': 150, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}]}, {'dt': 1641369600, 'temp': 19.79, 'feels_like': 19.29, 'pressure': 1012, 'humidity': 56, 'dew_point': 10.77, 'uvi': 0, 'clouds': 0, 'visibility': 10000, 'wind_speed': 2.06, 'wind_deg': 140, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}]}, {'dt': 1641373200, 'temp': 19.79, 'feels_like': 19.31, 'pressure': 1012, 'humidity': 57, 'dew_point': 11.04, 'uvi': 0, 'clouds': 0, 'visibility': 10000, 'wind_speed': 2.57, 'wind_deg': 160, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}]}, {'dt': 1641376800, 'temp': 19.05, 'feels_like': 18.53, 'pressure': 1013, 'humidity': 58, 'dew_point': 10.61, 'uvi': 0, 'clouds': 0, 'visibility': 10000, 'wind_speed': 2.57, 'wind_deg': 140, 'wind_gust': 8.23, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]}, {'dt': 1641380400, 'temp': 19, 'feels_like': 18.57, 'pressure': 1014, 'humidity': 62, 'dew_point': 11.56, 'uvi': 0.67, 'clouds': 0, 'visibility': 10000, 'wind_speed': 0, 'wind_deg': 0, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]}, {'dt': 1641384000, 'temp': 19.92, 'feels_like': 19.51, 'pressure': 1014, 'humidity': 59, 'dew_point': 11.68, 'uvi': 2.28, 'clouds': 0, 'visibility': 10000, 'wind_speed': 0, 'wind_deg': 0, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]}, {'dt': 1641387600, 'temp': 22.44, 'feels_like': 21.97, 'pressure': 1014, 'humidity': 47, 'dew_point': 10.58, 'uvi': 5.14, 'clouds': 0, 'visibility': 10000, 'wind_speed': 3.6, 'wind_deg': 170, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]}, {'dt': 1641391200, 'temp': 23.63, 'feels_like': 23.22, 'pressure': 1014, 'humidity': 45, 'dew_point': 11.01, 'uvi': 8.77, 'clouds': 0, 'visibility': 10000, 'wind_speed': 2.06, 'wind_deg': 0, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]}, {'dt': 1641394800, 'temp': 25.31, 'feels_like': 24.97, 'pressure': 1014, 'humidity': 41, 'dew_point': 11.12, 'uvi': 12.28, 'clouds': 0, 'visibility': 10000, 'wind_speed': 0, 'wind_deg': 0, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]}, {'dt': 1641398400, 'temp': 27.51, 'feels_like': 27.14, 'pressure': 1013, 'humidity': 38, 'dew_point': 11.94, 'uvi': 14.52, 'clouds': 0, 'visibility': 10000, 'wind_speed': 2.57, 'wind_deg': 260, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]}, {'dt': 1641402000, 'temp': 29.21, 'feels_like': 28.25, 'pressure': 1012, 'humidity': 33, 'dew_point': 11.3, 'uvi': 14.99, 'clouds': 0, 'visibility': 10000, 'wind_speed': 2.57, 'wind_deg': 220, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]}, {'dt': 1641405600, 'temp': 29.8, 'feels_like': 28.71, 'pressure': 1012, 'humidity': 32, 'dew_point': 11.35, 'uvi': 13.49, 'clouds': 0, 'visibility': 10000, 'wind_speed': 2.57, 'wind_deg': 220, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]}, {'dt': 1641409200, 'temp': 30.66, 'feels_like': 29.31, 'pressure': 1011, 'humidity': 29, 'dew_point': 10.61, 'uvi': 10.38, 'clouds': 0, 'visibility': 10000, 'wind_speed': 6.69, 'wind_deg': 210, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]}, {'dt': 1641412800, 'temp': 30.92, 'feels_like': 29.65, 'pressure': 1011, 'humidity': 30, 'dew_point': 11.34, 'uvi': 6.72, 'clouds': 0, 'visibility': 10000, 'wind_speed': 3.6, 'wind_deg': 240, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]}, {'dt': 1641416400, 'temp': 30.3, 'feels_like': 29.12, 'pressure': 1011, 'humidity': 31, 'dew_point': 11.3, 'uvi': 3.46, 'clouds': 0, 'visibility': 10000, 'wind_speed': 5.14, 'wind_deg': 260, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]}, {'dt': 1641420000, 'temp': 29.02, 'feels_like': 28.15, 'pressure': 1011, 'humidity': 34, 'dew_point': 11.58, 'uvi': 1.3, 'clouds': 0, 'visibility': 10000, 'wind_speed': 4.12, 'wind_deg': 240, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]}, {'dt': 1641423600, 'temp': 26.84, 'feels_like': 26.66, 'pressure': 1012, 'humidity': 38, 'dew_point': 11.34, 'uvi': 0.28, 'clouds': 0, 'visibility': 10000, 'wind_speed': 3.6, 'wind_deg': 240, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]}]}

In [ ]:
# max y min temp santiago (truncar)
max_santiago = int(santiago['temp'].max())
min_santiago = int(santiago['feels_like'].min())
max_santiago, min_santiago

(30, 18)

In [ ]:
# read temps hist
hist_temps_santiago = pd.read_csv('/content/drive/MyDrive/Demanda/Temperaturas Santiago.csv')#, sep=';')
hist_temps_santiago

           Fecha  temp_max  temp_min
0     02-01-2018        30        15
1     03-01-2018        31        15
2     04-01-2018        31        16
3     05-01-2018        29        17
4     06-01-2018        33        15
...          ...       ...       ...
1459  31-12-2021        29        16
1460  01-01-2022        28        14
1461  02-01-2022        29        14
1462  03-01-2022        30        15
1463  04-01-2022        30        17

[1464 rows x 3 columns]

In [ ]:
# df temp ayer
start.strftime("%d-%m-%Y")
data = {'Fecha': [start.strftime("%d-%m-%Y")], 'temp_max': [max_santiago], 'temp_min': [min_santiago]}# agregar valor_dolar
# Create DataFrame.
temps_hoy = pd.DataFrame(data)
# Print the output.
temps_hoy

        Fecha  temp_max  temp_min
0  05-01-2022        30        18

In [ ]:
#concat temps
frames_temp = [hist_temps_santiago, temps_hoy]
result_temp = pd.concat(frames_temp)
result_temp = result_temp.reset_index()
result_temp.drop(['index'], axis=1, inplace=True)
result_temp = result_temp.to_csv("/content/drive/MyDrive/Demanda/Temperaturas Santiago.csv",index=False)